In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv('weatherHistory.csv')

In [3]:
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [4]:
data.shape

(96453, 12)

# Droping UnWanted Columns

In [5]:
data['Loud Cover'].value_counts()

0.0    96453
Name: Loud Cover, dtype: int64

In [6]:
#showing zeros for all the rows show drop the column
data.drop('Loud Cover',axis=1,inplace=True)

In [7]:
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,1016.16,Partly cloudy starting in the morning.

In [8]:
#Remove "Formatted Date" column as it is not neccesary and remove "Daily Summary" as "Summary" exists

data.drop(['Formatted Date','Daily Summary'],axis=1,inplace=True)

#get the feature value of Wind Bearing (degrees) almost equal to 0
data.drop(['Wind Bearing (degrees)'],axis=1,inplace=True)

# **Final shape**

In [9]:
data.shape

(96453, 8)

# Checking for NULL values

In [10]:
data.isnull().sum()

Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Visibility (km)               0
Pressure (millibars)          0
dtype: int64

In [11]:
data['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

**FILLING NULL VALUES**

In [12]:
data['Precip Type'].fillna(method='ffill',inplace=True,axis=0)
data['Precip Type'].value_counts()

#with droping
data.drop('Precip Type',axis=1,inplace=True)

In [13]:
#Storing target values
target_values=data['Summary'].value_counts().index
target_values

Index(['Partly Cloudy', 'Mostly Cloudy', 'Overcast', 'Clear', 'Foggy',
       'Breezy and Overcast', 'Breezy and Mostly Cloudy',
       'Breezy and Partly Cloudy', 'Dry and Partly Cloudy',
       'Windy and Partly Cloudy', 'Light Rain', 'Breezy', 'Windy and Overcast',
       'Humid and Mostly Cloudy', 'Drizzle', 'Breezy and Foggy',
       'Windy and Mostly Cloudy', 'Dry', 'Humid and Partly Cloudy',
       'Dry and Mostly Cloudy', 'Rain', 'Windy', 'Humid and Overcast',
       'Windy and Foggy', 'Windy and Dry',
       'Dangerously Windy and Partly Cloudy', 'Breezy and Dry'],
      dtype='object')

# Converting Categorical attributes into numerical

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
#data['Precip Type']=le.fit_transform(data['Precip Type'])
data['Summary']=le.fit_transform(data['Summary'])

In [15]:
data.head()

,Summary,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
0,19,9.472222,7.388889,0.89,14.1197,15.8263,1015.13
1,19,9.355556,7.227778,0.86,14.2646,15.8263,1015.63
2,17,9.377778,9.377778,0.89,3.9284,14.9569,1015.94
3,19,8.288889,5.944444,0.83,14.1036,15.8263,1016.41
4,17,8.755556,6.977778,0.83,11.0446,15.8263,1016.51

# Dividing the data frame into dependent and independent variables

In [16]:
y=data.iloc[:,0]
x=data.iloc[:,1:]

In [17]:
x

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
0,9.472222,7.388889,0.89,14.1197,15.8263,1015.13
1,9.355556,7.227778,0.86,14.2646,15.8263,1015.63
2,9.377778,9.377778,0.89,3.9284,14.9569,1015.94
3,8.288889,5.944444,0.83,14.1036,15.8263,1016.41
4,8.755556,6.977778,0.83,11.0446,15.8263,1016.51
...,...,...,...,...,...,...
96448,26.016667,26.016667,0.43,10.9963,16.1000,1014.36
96449,24.583333,24.583333,0.48,10.0947,15.5526,1015.16
96450,22.038889,22.038889,0.56,8.9838,16.1000,1015.66
96451,21.522222,21.522222,0.60,10.5294,16.1000,1015.95
96452,20.438889,20.438889,0.61,5.8765,15.5204,1016.16

In [18]:
y

0        19
1        19
2        17
3        19
4        17
         ..
96448    19
96449    19
96450    19
96451    19
96452    19
Name: Summary, Length: 96453, dtype: int32

#  checking the correlation between variables

In [19]:
x.corr()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
Temperature (C),1.000000,0.992629,-0.632255,0.008957,0.392847,-0.005447
Apparent Temperature (C),0.992629,1.000000,-0.602571,-0.056650,0.381718,-0.000219
Humidity,-0.632255,-0.602571,1.000000,-0.224951,-0.369173,0.005454
Wind Speed (km/h),0.008957,-0.056650,-0.224951,1.000000,0.100749,-0.049263
Visibility (km),0.392847,0.381718,-0.369173,0.100749,1.000000,0.059818
Pressure (millibars),-0.005447,-0.000219,0.005454,-0.049263,0.059818,1.000000

In [20]:
#  correlation between Temperature and Apparent Temparature is almost equal to 1 =======> so drop "Apparent Temparature"

x.drop('Apparent Temperature (C)',axis=1,inplace=True)
x.shape

(96453, 5)

In [21]:
x_cols=x.columns

data

,Summary,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
0,19,9.472222,7.388889,0.89,14.1197,15.8263,1015.13
1,19,9.355556,7.227778,0.86,14.2646,15.8263,1015.63
2,17,9.377778,9.377778,0.89,3.9284,14.9569,1015.94
3,19,8.288889,5.944444,0.83,14.1036,15.8263,1016.41
4,17,8.755556,6.977778,0.83,11.0446,15.8263,1016.51
...,...,...,...,...,...,...,...
96448,19,26.016667,26.016667,0.43,10.9963,16.1000,1014.36
96449,19,24.583333,24.583333,0.48,10.0947,15.5526,1015.16
96450,19,22.038889,22.038889,0.56,8.9838,16.1000,1015.66
96451,19,21.522222,21.522222,0.60,10.5294,16.1000,1015.95
96452,19,20.438889,20.438889,0.61,5.8765,15.5204,1016.16

# Splitting the dataset

In [22]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

 # Using PCA

from sklearn.decomposition import PCA

pca=PCA(n_components=1)

x_train=pca.fit_transform(x_train)
x_test=pca.transform(x_test)




#tried with changing components of pca but not increased

In [23]:
x_train.shape

(67517, 5)

In [24]:
x_test.shape

(28936, 5)

# Normalizing the dataset  (to give equal importance to each attribute(Independent Variable))

In [25]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [26]:
x_train=pd.DataFrame(x_train,columns=x_cols)
x_test=pd.DataFrame(x_test,columns=x_cols)

x_train

,Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
0,-0.379098,0.997520,0.011989,-0.527950,0.013012
1,-0.312147,-0.128919,-0.192794,0.055543,0.140202
2,1.877417,-1.460164,1.461760,0.251320,0.152446
3,-0.267320,1.151125,-0.001973,-0.988602,0.117437
4,-1.439240,0.741511,-1.565771,-0.788986,0.227380
...,...,...,...,...,...
67512,0.807377,-0.333726,0.370359,-0.086492,0.112263
67513,-0.495533,0.690309,1.364022,-0.128718,0.001026
67514,1.062370,-0.436129,1.426853,0.220610,0.150377
67515,-1.480575,0.792713,3.937772,-2.382073,0.097000
67516,0.435949,0.536704,-0.623304,1.088170,0.173487

# Classifying using Navie Bayeas

In [29]:
from sklearn.naive_bayes import GaussianNB

nb=GaussianNB()

#training the model
nb.fit(x_train,y_train)

#testing the model
y_pred=nb.predict(x_test)

In [30]:
from sklearn import metrics

metrics.accuracy_score(y_test,y_pred)

0.4726983688139342

# Using RANDOM FOREST CLASSIFIER

In [31]:
from sklearn.ensemble import RandomForestClassifier

rf=RandomForestClassifier(max_depth=32,n_estimators=120,random_state=1)
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)

In [32]:
metrics.accuracy_score(y_test,y_pred)

0.563035664915676

In [33]:
rf.feature_importances_

array([0.20778387, 0.15333491, 0.19847151, 0.2309482 , 0.2094615 ])

In [34]:
x_cols

Index(['Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Visibility (km)',
       'Pressure (millibars)'],
      dtype='object')